body{
    background-color: #f4ead7;
}


h1{
    
   background-color: #663f00;
    border:#f4ead7;
    border-width: 1px;
    border-style:solid;
    height:100px;
    padding-top:50px;
    font-size: 75px;
    display: inline-block;
    color:#f4ead7;
    vertical-align: middle;
    text-align: center;
    inline-size: 100%;
    background-image: url(../img/acm-logo.jpg);
    background-repeat: no-repeat;
    background-size: 152px;
    font-family: "antipol-variable", sans-serif;
    font-variation-settings: "STCH" 1, "wdth" 100, "wght" 400;
    position: relative;
    bottom: 75px;
}

nav ul li{
    color:#663f00;
    font-size:40px;
    text-align: center;
    list-style-type: none;
    float:left;
    margin:35px;
    padding: 10px;
    border:#663f00;
    border-width: 1px;
    border-style: solid;
    position: relative;
    bottom: 150px
}

nav ul li a{
color:#663f00;
text-decoration: none;
font-family: "neuzeit-grotesk", sans-serif;
font-weight: 300;
font-style: normal;
}

nav ul li a:hover{
    color:#f4ead7;
    background-color:#663f00;
}

h2{
    color:#663f00;
    font-size:20px;
    text-align: center;
    list-style-type: none;
    float:left;
    border:#663f00;
    border-width: 1px;
    border-style: solid;
    position: relative;
    bottom: 150px
}

h2{
    color:#663f00;
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 250;
    font-size:18px;
    font-style: normal;
    margin:35px;
    padding:20px;
    border:#663f00;
    border-width: 1px;
    border-style: solid;
    background-color: #f4ead7;
    width:880px;
   position: relative;
    bottom: 175px;
    left: 40px;
    }   
 
h3{
    color:#663f00;
    font-size:10px;
    text-align: center;
    list-style-type: none;
    float:left;
}

h3{
    color:#663f00;
    font-family: "arboria", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin:35px;
    width:100px;
    border:#663f00;
    border-width: 1px;
    border-style: solid;
    background-color: #f4ead7;
    position: absolute;
    top:264px;
    left:1115px;
    }

    h4{
        color:#663f00;
        font-size:10px;
        text-align: center;
        list-style-type: none;
        float:left;
    }
    
    h4{
        color:#663f00;
        font-family: "arboria", sans-serif;
        font-weight: 100;
        font-style: normal;
        margin:35px;
        width:100px;
        border:#663f00;
        border-width: 1px;
        border-style: solid;
        background-color: #f4ead7;
        position: absolute;
        top:384px;
        left:1115px;
        }

img{
position: relative;
right:280px;
bottom:2px;
padding-bottom: 43px;
    }


